<div class="container text-center m-5">
    <hr>
    <h1>
        Repuestos
    </h1>
    <hr>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card m-5">
            <img src="img/alfombra-mercedes.jpg" class="card-img-top" alt="..."  height="300px">
            <div class="card-body">
                <h5 class="card-title">Alfombra Mercedes Benz</h5>
                <p class="card-text"> Alfombra completa para camion Mercedes Benz, todos sus modelos.
                <b>Precio:</b> $15.000 <br>
                <b>Codigo:</b> 8649
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src="img/calcomanias-scania.jpg"  class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title">Calcomanias Scania</h5>
                <p class="card-text">Calcomanias para camion Scania, linea 112 y 113. <br>
                <b>Precio:</b> $7.800 <br>
                <b>Codigo:</b> 7302
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src="img/cintas de freno.jpeg" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title">Cintas de freno</h5>
                <p class="card-text">Cintas de freno para camiones mercedes benz, todos sus modelos. <br>
                <b>Precio:</b> $20.780 <br>
                <b>Codigo:</b> 5639
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src="img/cubretuerca bepo.webp" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title">Cubre tuerca Bepo</h5>
                <p class="card-text">Cubre tuercas de rueda bepo universal. <br>
                <b>Precio:</b> $450 <br>
                <b>Codigo:</b> 3847
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src="img/llanta a disco de aluminio.jpg" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title">Llanta a disco de aluminio </h5>
                <p class="card-text">Llanta a disco de aluminio 10 agujeros. <br>
                <b>Precio:</b> $60.000 <br>
                <b>Codigo:</b> 0183
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src="img/luces laterales.jpg" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title">Luces laterales para camion y acoplado</h5>
                <p class="card-text">Luces laterales para camion y acoplado universales amarillas. <br> 
                <b>Precio:</b> $8.400 <br>
                <b>Codigo:</b> 5294
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src="img/manija de puerta exterior.webp" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title">Manija de puerta exterior</h5>
                <p class="card-text">Manija universal de puerta exterior con llaves. <br>
                <b>Precio:</b> $2.500 <br>
                <b>Codigo:</b> 6921
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src="img/paragolpe mercedes benz.jpeg"  class="card-img-top" alt="" height="300px">
            <div class="card-body">
                <h5 class="card-title">Paragolpe Mercedes Benz</h5>
                <p class="card-text">Paragolpe para camion Mercedes Benz blanco original, linea atron. <br>
                <b>Precio:</b> $10.650 <br>
                <b>Codigo:</b> 8238
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src= "img/paragolpe iveco.jpeg" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title">Paragolpe Iveco</h5>
                <p class="card-text">Paragolpe para camion iveco negro original, linea tector. <br>
                <b>Precio</b> $11.240 <br>
                <b>Codigo:</b> 1749
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5">
            <img src="img/taza cubrellanta bepo.jpeg" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title">Taza cubrellanta bepo</h5>
                <p class="card-text">Taza cubrellanta bepo cromada. <br>
                <b>Precio:</b> $4.200 <br>
                <b>Codigo:</b> 7745
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container text-center m-5">
    <hr>
    <h1>
        Lista de Productos de la App
    </h1>
    <hr>
</div>

<table class="table table-striped container" id="mitabla">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">codigo</th>
        </tr>
    </thead>
    <tbody>
        {{#each datos}}
        <tr>
        <th scope="row">{{ idProducto }}</th>
        <td>{{ nombre }}</td>
        <td>{{ precio }}</td>
        <td>{{ codigo }}</td>
        <td>
            <a href="javascript:void(0);" class="btn btn-danger delete" data-idProducto="{{ idProducto }}">Delete</a>
            <a href="javascript:void(0);" class="btn btn-primary edit" data-idProducto="{{ idProducto }}" data-nombre="{{ nombre }}" data-precio="{{ precio }}" data-codigo="{{ codigo }}">Update</a>
        </td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Modal para el Delete --}}
<form action="/delete" method="post">
    <div class="modal" id="DeleteModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de eliminar el Producto?</p>
            </div>
            <div class="modal-footer">
                <input type="number" name="idProducto" id="idProducto" class="idProducto" required>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger">Eliminar producto</button>
            </div>
            </div>
        </div>
    </div>
</form>

{{!-- Modal para el Update --}}

<form action="/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Producto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="nombre" class="col-form-label">Nombre: </label>
                <input type="text" class="form-control nombre" id="nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="precio" class="col-form-label">Precio: </label>
                <input type="number" class="form-control precio" id="precio" name="precio">
            </div>
            <div class="mb-3">
                <label for="codigo" class="col-form-label">Codigo: </label>
                <input type="number" class="form-control codigo" id="codigo" name="codigo">
            </div>
        </div>
        <div class="modal-footer">
            <input type="number" name="idProducto" id="idProducto" class="idProducto">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Editar </button>
        </div>
        </div>
    </div>
</div>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

{{!-- Función para tomar los datos del Modal  --}}

<script>
    
    $(document).ready(function() {
        {{!-- Modal del delete --}}
        $('#mitabla').on('click', '.delete', function (){
            let idProducto = $(this).data('idProducto');
            $('#DeleteModal').modal('show')
        })
        {{!-- Modal del Edit --}}
        $('#mitabla').on('click', '.edit', function (){
            let idProducto = $(this).data('idProducto');
            let nombre = $(this).data('nombre');
            let precio = $(this).data('precio');
            let codigo = $(this).data('codigo')
            $('#EditModal').modal('show');
            $('.nombre').val(nombre);
            $('.precio').val(precio);
            $('.codigo').val(codigo);
        })
    })
</script>